@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&display=swap');
body{
    background-color: white;
    color: black;
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #76cc76;
    font-size: 20px;
    height: 90px;
}
li{
    display: inline-block;
    margin: 20px;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{
    font-size: 60px;
}
.LetraA{
    color: orangered;
    font-size: 70px;
}
.LetraB{
    color: yellow;
    font-size: 70px;
}
.LetraC{
    color: green;
    font-size: 70px;
}
p{
    max-width: 500px;
}
a{
    color: black;
}
a:hover{
    color: white;
    transition: 0.3s all;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: #76cc76;
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}
input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    background-color: rgb(209, 209, 209);
}
footer{
    background-color: #76cc76;
    height: 90px;
}
.text_footer{
    text-align: center;
}
article{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
aside{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    margin-left: 20px;
}